@using _20241129402SoruCevapPortali.Models
@using _20241129402SoruCevapPortali.Repositories
@inject IRepository<User> UserRepo
@inject IRepository<Notification> NotifRepo

@{
    // --- 1. PROFİL RESMİ VE KULLANICI BİLGİSİ ---
    string userResmi = "/img/undraw_profile.svg";
    string myRole = "User";
    int myId = 0;

    if (User.Identity.IsAuthenticated)
    {
        var aktifKullanici = UserRepo.GetAll().FirstOrDefault(x => x.Username == User.Identity.Name);
        if (aktifKullanici != null)
        {
            if (!string.IsNullOrEmpty(aktifKullanici.PhotoUrl)) userResmi = aktifKullanici.PhotoUrl;
            myRole = aktifKullanici.Role;
            myId = aktifKullanici.Id;
        }
    }

    // --- 2. BİLDİRİM MANTIĞI (SADECE BANA UYGUN OLANLAR) ---
    var myNotifications = new List<Notification>();
    if (NotifRepo != null)
    {
        myNotifications = NotifRepo.GetAll()
            .Where(n =>
                n.TargetRole == "All" ||
                n.TargetRole == myRole ||
                (n.TargetRole == "Private" && n.TargetUserId == myId)
            )
            .OrderByDescending(n => n.Date)
            .Take(5) // Son 5 tanesi
            .ToList();
    }
}

<!DOCTYPE html>
<html lang="tr">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>@ViewData["Title"] - Yönetim Paneli</title>

    <link href="~/vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet">

    <link href="~/css/sb-admin-2.min.css" rel="stylesheet">
    <link href="~/vendor/datatables/dataTables.bootstrap4.min.css" rel="stylesheet">
</head>

<body id="page-top">

    <div id="wrapper">

        <ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar">

            <a class="sidebar-brand d-flex align-items-center justify-content-center" href="/Admin/Index">
                <div class="sidebar-brand-icon rotate-n-15">
                    <i class="fas fa-laugh-wink"></i>
                </div>
                <div class="sidebar-brand-text mx-3">Yönetici <sup>Panel</sup></div>
            </a>

            <hr class="sidebar-divider my-0">

            <li class="nav-item active">
                <a class="nav-link" href="/Admin/Index">
                    <i class="fas fa-fw fa-tachometer-alt"></i>
                    <span>Dashboard</span>
                </a>
            </li>

            <hr class="sidebar-divider">

            <div class="sidebar-heading">İçerik Yönetimi</div>

            <li class="nav-item">
                <a class="nav-link" href="/Admin/Users">
                    <i class="fas fa-fw fa-users"></i>
                    <span>Kullanıcılar</span>
                </a>
            </li>

            <li class="nav-item">
                <a class="nav-link" href="/Admin/Questions">
                    <i class="fas fa-fw fa-comments"></i> <span>Forumlar</span>
                </a>
            </li>

            <li class="nav-item">
                <a class="nav-link" href="/Admin/Categories">
                    <i class="fas fa-fw fa-folder"></i>
                    <span>Kategoriler</span>
                </a>
            </li>

            @if (User.IsInRole("Admin"))
            {
                <hr class="sidebar-divider">
                <div class="sidebar-heading">Yönetici Araçları</div>

                <li class="nav-item">
                    <a class="nav-link" href="/Admin/RoleManagement">
                        <i class="fas fa-fw fa-user-shield"></i>
                        <span>Yetki Yönetimi</span>
                    </a>
                </li>

                <li class="nav-item">
                    <a class="nav-link" href="/Admin/SendNotification">
                        <i class="fas fa-fw fa-paper-plane"></i>
                        <span>Bildirim Gönder</span>
                    </a>
                </li>

                <li class="nav-item">
                    <a class="nav-link" href="/Admin/Logs">
                        <i class="fas fa-fw fa-list-alt"></i>
                        <span>Sistem Logları</span>
                    </a>
                </li>
            }

            <hr class="sidebar-divider">
            <li class="nav-item">
                <a class="nav-link" href="/Home/Index">
                    <i class="fas fa-fw fa-globe"></i>
                    <span>Siteye Dön</span>
                </a>
            </li>

            <div class="text-center d-none d-md-inline">
                <button class="rounded-circle border-0" id="sidebarToggle"></button>
            </div>

        </ul>
        <div id="content-wrapper" class="d-flex flex-column">
            <div id="content">

                <nav class="navbar navbar-expand navbar-light bg-white topbar mb-4 static-top shadow">

                    <button id="sidebarToggleTop" class="btn btn-link d-md-none rounded-circle mr-3">
                        <i class="fa fa-bars"></i>
                    </button>

                    <ul class="navbar-nav ml-auto">

                        <li class="nav-item dropdown no-arrow mx-1">
                            <a class="nav-link dropdown-toggle" href="#" id="alertsDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <i class="fas fa-bell fa-fw"></i>
                                @if (myNotifications.Count > 0)
                                {
                                    <span class="badge badge-danger badge-counter">@myNotifications.Count</span>
                                }
                            </a>

                            <div class="dropdown-list dropdown-menu dropdown-menu-right shadow animated--grow-in" aria-labelledby="alertsDropdown">
                                <h6 class="dropdown-header">Bildirim Merkezi</h6>

                                @if (myNotifications.Count == 0)
                                {
                                    <a class="dropdown-item d-flex align-items-center" href="#">
                                        <div class="mr-3">
                                            <div class="icon-circle bg-secondary"><i class="fas fa-info text-white"></i></div>
                                        </div>
                                        <div><span class="font-weight-bold">Hiç yeni bildirim yok.</span></div>
                                    </a>
                                }
                                else
                                {
                                    @foreach (var notif in myNotifications)
                                    {
                                        <a class="dropdown-item d-flex align-items-center" href="#">
                                            <div class="mr-3">
                                                <div class="icon-circle bg-primary"><i class="fas fa-envelope text-white"></i></div>
                                            </div>
                                            <div>
                                                <div class="small text-gray-500">@notif.Date.ToString("dd.MM.yyyy HH:mm")</div>
                                                <span class="font-weight-bold">@notif.SenderName: @notif.Message</span>
                                            </div>
                                        </a>
                                    }
                                }
                                <a class="dropdown-item text-center small text-gray-500" href="/Admin/AllNotifications">Tüm Bildirimleri Gör</a>
                            </div>
                        </li>

                        <div class="topbar-divider d-none d-sm-block"></div>

                        <li class="nav-item dropdown no-arrow">
                            <a class="nav-link dropdown-toggle" href="#" id="userDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <img class="img-profile rounded-circle mr-2" src="@userResmi" style="width: 32px; height: 32px; object-fit: cover;">
                                <span class="mr-2 d-none d-lg-inline text-gray-600 small font-weight-bold">@User.Identity.Name</span>
                            </a>

                            <div class="dropdown-menu dropdown-menu-right shadow animated--grow-in" aria-labelledby="userDropdown">
                                <a class="dropdown-item" href="/Admin/Profile">
                                    <i class="fas fa-user fa-sm fa-fw mr-2 text-gray-400"></i> Profilim
                                </a>
                                <div class="dropdown-divider"></div>
                                <a class="dropdown-item" href="#" data-toggle="modal" data-target="#logoutModal">
                                    <i class="fas fa-sign-out-alt fa-sm fa-fw mr-2 text-gray-400"></i> Çıkış Yap
                                </a>
                            </div>
                        </li>

                    </ul>
                </nav>
                <div class="container-fluid">
                    @RenderBody()
                </div>

            </div>
        </div>
    </div>

    <a class="scroll-to-top rounded" href="#page-top"><i class="fas fa-angle-up"></i></a>

    <div class="modal fade" id="logoutModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Ayrılıyor musunuz?</h5>
                    <button class="close" type="button" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
                </div>
                <div class="modal-body">Oturumu kapatmak istediğinize emin misiniz?</div>
                <div class="modal-footer">
                    <button class="btn btn-secondary" type="button" data-dismiss="modal">İptal</button>
                    <a class="btn btn-primary" href="/Auth/Logout">Çıkış Yap</a>
                </div>
            </div>
        </div>
    </div>

    <script src="~/vendor/jquery/jquery.min.js"></script>
    <script src="~/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="~/vendor/jquery-easing/jquery.easing.min.js"></script>
    <script src="~/js/sb-admin-2.min.js"></script>

    @await RenderSectionAsync("Scripts", required: false)

</body>
</html>