@using Microsoft.AspNetCore.Identity
@using _20241129402SoruCevapPortali.Models
@using _20241129402SoruCevapPortali.Repositories

@inject UserManager<AppUser> UserManager
@inject IRepository<Notification> NotifRepo

@{
    var currentUser = await UserManager.GetUserAsync(User);
    var myNotifications = new List<Notification>();
    int unreadCount = 0;

    if (currentUser != null)
    {
        var allNotifs = NotifRepo.GetAll();
        if (allNotifs != null)
        {
            var userRoles = await UserManager.GetRolesAsync(currentUser);

            myNotifications = allNotifs.Where(n =>
                (n.TargetRole == "All") ||
                (n.TargetRole == "Personal" && n.TargetUserId == currentUser.Id) ||
                (userRoles.Contains(n.TargetRole))
            ).OrderByDescending(n => n.Date).Take(5).ToList();

            unreadCount = myNotifications.Count(n => !n.IsRead);
        }
    }
    string userProfilePic = "/img/undraw_profile.svg";
    if (currentUser != null && !string.IsNullOrEmpty(currentUser.PhotoUrl))
    {
        userProfilePic = currentUser.PhotoUrl;
    }
}

<!DOCTYPE html>
<html lang="tr">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>@ViewData["Title"] - Yönetim Paneli</title>

    <link href="~/vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet">

    <link href="~/css/sb-admin-2.min.css" rel="stylesheet">

    <link href="https://cdn.datatables.net/1.10.24/css/dataTables.bootstrap4.min.css" rel="stylesheet">

    <link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/css/select2.min.css" rel="stylesheet" />
</head>

<body id="page-top">

    <div id="wrapper">

        <ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar">

            <a class="sidebar-brand d-flex align-items-center justify-content-center" href="/Admin/Index">
                <div class="sidebar-brand-icon rotate-n-15">
                    <i class="fas fa-gamepad"></i>
                </div>
                <div class="sidebar-brand-text mx-3">Admin Panel</div>
            </a>

            <hr class="sidebar-divider my-0">

            <li class="nav-item active">
                <a class="nav-link" href="/Admin/Index">
                    <i class="fas fa-fw fa-tachometer-alt"></i>
                    <span>Ana Panel</span>
                </a>
            </li>

            <li class="nav-item bg-success rounded mx-2 mt-2">
                <a class="nav-link text-white text-center font-weight-bold py-2" href="/Home/Index">
                    <i class="fas fa-home mr-1"></i> Siteye Dön
                </a>
            </li>

            <hr class="sidebar-divider">

            <div class="sidebar-heading">YÖNETİM</div>

            <li class="nav-item">
                <a class="nav-link" href="/Admin/Users">
                    <i class="fas fa-fw fa-users"></i>
                    <span>Kullanıcılar</span>
                </a>
            </li>

            <li class="nav-item">
                <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseForum" aria-expanded="true">
                    <i class="fas fa-fw fa-comments"></i>
                    <span>İçerik Yönetimi</span>
                </a>
                <div id="collapseForum" class="collapse" data-parent="#accordionSidebar">
                    <div class="bg-white py-2 collapse-inner rounded">
                        <a class="collapse-item" href="/Admin/Questions">Sorular</a>
                        <a class="collapse-item" href="/Admin/Answers">Cevaplar</a>
                        <a class="collapse-item" href="/Admin/Categories">Kategoriler</a>
                    </div>
                </div>
            </li>

            <hr class="sidebar-divider">

            <div class="sidebar-heading">DESTEK & RAPOR</div>

            <li class="nav-item">
                <a class="nav-link" href="/Admin/ReportList">
                    <i class="fas fa-fw fa-exclamation-triangle"></i>
                    <span>Şikayetler</span>
                </a>
            </li>

            <li class="nav-item">
                <a class="nav-link" href="/Admin/SupportList">
                    <i class="fas fa-fw fa-headset"></i>
                    <span>Destek Talepleri</span>
                </a>
            </li>

            <li class="nav-item">
                <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseNotif" aria-expanded="true">
                    <i class="fas fa-fw fa-bell"></i>
                    <span>Bildirimler</span>
                </a>
                <div id="collapseNotif" class="collapse" data-parent="#accordionSidebar">
                    <div class="bg-white py-2 collapse-inner rounded">
                        <a class="collapse-item" href="/Admin/SendNotification">Bildirim Gönder</a>
                        <a class="collapse-item" href="/Admin/AllNotifications">Geçmiş Bildirimler</a>
                    </div>
                </div>
            </li>

            <hr class="sidebar-divider">

            @if (User.IsInRole("Admin"))
            {
                <div class="sidebar-heading">SİSTEM (Admin)</div>

                <li class="nav-item">
                    <a class="nav-link" href="/Admin/RoleManagement">
                        <i class="fas fa-fw fa-user-shield"></i>
                        <span>Roller & Yetkiler</span>
                    </a>
                </li>

                <li class="nav-item">
                    <a class="nav-link" href="/Admin/Logs">
                        <i class="fas fa-fw fa-list-alt"></i>
                        <span>Sistem Logları</span>
                    </a>
                </li>
            }
            <div class="text-center d-none d-md-inline">
                <button class="rounded-circle border-0" id="sidebarToggle"></button>
            </div>

        </ul>
        <div id="content-wrapper" class="d-flex flex-column">

            <div id="content">

                <nav class="navbar navbar-expand navbar-light bg-white topbar mb-4 static-top shadow">

                    <button id="sidebarToggleTop" class="btn btn-link d-md-none rounded-circle mr-3">
                        <i class="fa fa-bars"></i>
                    </button>

                    <ul class="navbar-nav ml-auto">

                        <li class="nav-item dropdown no-arrow mx-1">
                            <a class="nav-link dropdown-toggle" href="#" id="alertsDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <i class="fas fa-bell fa-fw"></i>
                                @if (unreadCount > 0)
                                {
                                    <span class="badge badge-danger badge-counter">@unreadCount+</span>
                                }
                            </a>
                            <div class="dropdown-list dropdown-menu dropdown-menu-right shadow animated--grow-in" aria-labelledby="alertsDropdown">
                                <h6 class="dropdown-header">
                                    Son Bildirimler
                                </h6>
                                @if (myNotifications.Count > 0)
                                {
                                    foreach (var notif in myNotifications)
                                    {
                                        <a class="dropdown-item d-flex align-items-center" href="/Admin/AllNotifications">
                                            <div class="mr-3">
                                                <div class="icon-circle bg-primary">
                                                    <i class="fas fa-file-alt text-white"></i>
                                                </div>
                                            </div>
                                            <div>
                                                <div class="small text-gray-500">@notif.Date.ToString("dd.MM.yyyy")</div>
                                                <span class="font-weight-bold">@notif.Message</span>
                                            </div>
                                        </a>
                                    }
                                }
                                else
                                {
                                    <a class="dropdown-item text-center small text-gray-500" href="#">Bildirim yok</a>
                                }

                                <a class="dropdown-item text-center small text-gray-500" href="/Admin/AllNotifications">Tümünü Göster</a>
                            </div>
                        </li>

                        <div class="topbar-divider d-none d-sm-block"></div>

                        <li class="nav-item dropdown no-arrow">
                            <a class="nav-link dropdown-toggle" href="#" id="userDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <span class="mr-2 d-none d-lg-inline text-gray-600 small">@(currentUser != null ? currentUser.UserName : "Admin")</span>
                                <img class="img-profile rounded-circle" src="@userProfilePic" style="object-fit:cover;">
                            </a>
                            <div class="dropdown-menu dropdown-menu-right shadow animated--grow-in" aria-labelledby="userDropdown">
                                <a class="dropdown-item" href="/Account/Profile">
                                    <i class="fas fa-user fa-sm fa-fw mr-2 text-gray-400"></i>
                                    Profilim
                                </a>
                                <div class="dropdown-divider"></div>
                                <a class="dropdown-item" href="#" data-toggle="modal" data-target="#logoutModal">
                                    <i class="fas fa-sign-out-alt fa-sm fa-fw mr-2 text-gray-400"></i>
                                    Çıkış Yap
                                </a>
                            </div>
                        </li>

                    </ul>

                </nav>
                @RenderBody()
            </div>
            <footer class="sticky-footer bg-white">
                <div class="container my-auto">
                    <div class="copyright text-center my-auto">
                        <span>Copyright &copy; SoruCevapPortali @DateTime.Now.Year</span>
                    </div>
                </div>
            </footer>
        </div>
    </div>
    <a class="scroll-to-top rounded" href="#page-top">
        <i class="fas fa-angle-up"></i>
    </a>

    <div class="modal fade" id="logoutModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Ayrılmaya Hazır mısın?</h5>
                    <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">×</span>
                    </button>
                </div>
                <div class="modal-body">Oturumunu sonlandırmak istiyorsan aşağıdaki "Çıkış Yap" butonuna bas.</div>
                <div class="modal-footer">
                    <button class="btn btn-secondary" type="button" data-dismiss="modal">İptal</button>
                    <a class="btn btn-primary" href="/Account/Logout">Çıkış Yap</a>
                </div>
            </div>
        </div>
    </div>

    <script src="~/vendor/jquery/jquery.min.js"></script>
    <script src="~/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

    <script src="~/vendor/jquery-easing/jquery.easing.min.js"></script>

    <script src="~/js/sb-admin-2.min.js"></script>

    <script src="https://cdn.datatables.net/1.10.24/js/jquery.dataTables.min.js"></script>
    <script src="https://cdn.datatables.net/1.10.24/js/dataTables.bootstrap4.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/microsoft-signalr/7.0.5/signalr.min.js"></script>

    <script>
        var connection = new signalR.HubConnectionBuilder().withUrl("/general-hub").build();
        connection.on("ReceiveNotification", function (message) {
            var badge = $(".badge-counter");
            var currentCount = parseInt(badge.text());

            if (isNaN(currentCount)) {
                currentCount = 0;
            }
            badge.text((currentCount + 1) + "+");
            badge.show();
            var alertDiv = document.createElement("div");
            alertDiv.className = "alert alert-warning alert-dismissible fade show fixed-top m-3 shadow";
            alertDiv.style.zIndex = "9999";
            alertDiv.innerHTML = `
                <i class="fas fa-bell mr-2"></i> <strong>Bildirim:</strong> ${message}
                <button type="button" class="close" data-dismiss="alert">&times;</button>
            `;
            document.body.appendChild(alertDiv);
            setTimeout(function() {
                $(alertDiv).alert('close');
            }, 5000);
        });
        connection.start().then(function () {
            console.log("SignalR Bağlantısı Başarılı!");
        }).catch(function (err) {
            return console.error(err.toString());
        });
    </script>
    @await RenderSectionAsync("Scripts", required: false)

</body>
</html>